{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <ul class="list-unstyled">
        <li class="media my-1">
            <img src="https://via.placeholder.com/50" alt="" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">User 1</h5>
                I think that this is my favorite piece of entertainment
            </div>
        </li>
        <li class="media my-1">
            <img src="https://via.placeholder.com/50" alt="" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">User 2</h5>
                I can't stop watching this
            </div>
        </li>
        <li class="media my-1">
            <img src="https://via.placeholder.com/50" alt="" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">User 3</h5>
                It could've done better if they didn't use so much cg
            </div>
        </li>
    </ul> 
</div>
<div class="container align-bottom">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondar" type="button">Enter</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}