{% extends 'base.html' %}
{% block content %}
    <h2>Chatrooms</h2>
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pete's Dragon Chatroom</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Here we talk about an underaprectiated disney movie</p>
            <small>Users: 10,200</small>
        </a>
    </div>
{% endblock %}