{% extends 'base.html' %}
{% block content %}
<div class="container">
    <ul class="list-unstyled">
        <li class="media">
            <img src="..." alt="" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">User 1</h5>
                I think that this is my favorite piece of entertainment
            </div>
        </li>
        <li class="media">
            <img src="..." alt="" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">User 2</h5>
                I can't stop watching this
            </div>
        </li>
        <li class="media">
            <img src="..." alt="" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">User 3</h5>
                It could've done better if they didn't use so much cg
            </div>
        </li>
    </ul> 
</div>

{% endblock %}