{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbrotron">
            <table class="table table-hover table-borderless">
                <thead>
                    <th scope="col">Topics</th>
                </thead>
                <tbody>
                    <td>stuff</td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="jumbotron">
        <h2>Interests</h2>
        <div class="row">
            <div class="col">Movies</div>
            <div class="col">Music</div>
            <div class="col">Books</div>
            <div class="col">Stuff</div>
        </div>
        <div class="row">
            <div class="col">Stuff</div>
            <div class="col">More Stuff</div>
            <div class="col">Stuff</div>
            <div class="col">Stuff</div>
        </div>
    </div>
{% endblock %}