{% extends 'base.html' %}
{% block content %}
    <h3>Profile</h3>
    <div class="jumbotron">
        <h4>Favorites</h4>
        <div id= "favCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." alt="First Slide" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="..." alt="Second Slide" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="..." alt="Third Slide" class="d-block w-100">
                </div>
            </div>
            <a href="#favCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <a href="#favCarousel" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}